<h2>Welcome!</h2>

<form method="post">
    @{ //Html.ValidationSummary(true) }
    <fieldset>
        <legend>Initial User</legend>
        <div class="editor-label">
            First Name
        </div>
        <div class="editor-field">
            <input type="text" name="FirstName" value="" />
        </div>

        <div class="editor-label">
            Last Name
        </div>
        <div class="editor-field">
            <input type="text" name="LastName" value="" />
        </div>

        <div class="editor-label">
            Email
        </div>
        <div class="editor-field">
            <input type="text" name="Email" value="" />
        </div>

        <div class="editor-label">
            Username
        </div>
        <div class="editor-field">
            <input type="text" name="Username" value="" />
        </div>

        <div class="editor-label">
            Password
        </div>
        <div class="editor-field">
            <input type="password" name="Password" value="" />
        </div>
        <p>
            <input type="submit" name="SubmitAction" value="Publish" />
        </p>
    </fieldset>
</form>
