@{
        //﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
        //Bundles.Reference("assets/stylesheets/main.css");
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSemble - assemble your webapp :: Admin</title>
    <link rel="stylesheet" href="/Content/shamcey/css/style.default.css" type="text/css" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <link rel="stylesheet" href="/Content/shamcey/css/responsive-tables.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/modernizr.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/flot/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="/Content/shamcey/js/responsive-tables.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="/Content/shamcey/js/custom.js"></script>
    
    @RenderSection("HeadArea", required: false)
</head>

<body>
    <div id="mainwrapper" class="mainwrapper">

        <div class="header">
            <div class="logo">
                <a href="/admin">NSemble Admin</a>
            </div>
            <div class="headerinner">
                <ul class="headmenu">
                    <li>
                        <a href="#">
                            <span class="count">1</span>
                            <span class="head-icon head-message"></span>
                            <span class="headmenu-label">Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/mycontent">
                            <span class="count">1</span>
                            <h1 class="head-icon"><i class="iconfa-font iconfa-large"></i></h1>
                            <span class="headmenu-label">MyContent</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/myblog">
                            <span class="count">1</span>
                            <h1 class="head-icon"><i class="iconfa-pencil iconfa-large"></i></h1>
                            <span class="headmenu-label">MyBlog</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/templates">
                            <span class="count">1</span>
                            <h1 class="head-icon"><i class="iconfa-picture iconfa-large"></i></h1>
                            <span class="headmenu-label">Templates</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/config">
                            <span class="count">1</span>
                            <h1 class="head-icon"><i class="iconfa-cogs iconfa-large"></i></h1>
                            <span class="headmenu-label">Settings</span>
                        </a>
                    </li>
                    <li class="right">
                        <div class="userloggedinfo">
                            <img src="/Content/shamcey/images/photos/thumb1.png" alt="" />
                            <div class="userinfo">
                                <h5>Juan Dela Cruz <small>- juan@themepixels.com</small></h5>
                                <ul>
                                    <li><a href="editprofile.html">Edit Profile</a></li>
                                    <li><a href="">Account Settings</a></li>
                                    <li><a href="index.html">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--headmenu-->
            </div>
        </div>

        <div class="leftpanel">

            <div class="leftmenu">
                <ul class="nav nav-tabs nav-stacked">
                    <li class="nav-header">Navigation</li>
                    <li><a href="dashboard.html"><span class="iconfa-laptop"></span>Dashboard</a></li>
                    <li><a href="buttons.html"><span class="iconfa-hand-up"></span>Buttons &amp; Icons</a>
                    </li>
                    <li class="dropdown"><a href=""><span class="iconfa-pencil"></span>Forms</a>
                        <ul>
                            <li><a href="forms.html">Form Styles</a></li>
                            <li><a href="wizards.html">Wizard Form</a></li>
                            <li><a href="wysiwyg.html">WYSIWYG</a></li>
                            <li><a href="registration.html">Registration Page</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href=""><span class="iconfa-briefcase"></span>UI Elements &amp;
                        Widgets</a>
                        <ul>
                            <li><a href="elements.html">Theme Components</a></li>
                            <li><a href="bootstrap.html">Bootstrap Components</a></li>
                            <li><a href="boxes.html">Headers &amp; Boxes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href=""><span class="iconfa-th-list"></span>Tables</a>
                        <ul>
                            <li><a href="table-static.html">Static Table</a></li>
                            <li class="dropdown"><a href="table-dynamic.html">Dynamic Table</a></li>
                        </ul>
                    </li>
                    <li><a href="media.html"><span class="iconfa-picture"></span>Media Manager</a></li>
                    <li><a href="typography.html"><span class="iconfa-font"></span>Typography</a></li>
                    <li><a href="charts.html"><span class="iconfa-signal"></span>Graph &amp; Charts</a>
                    </li>
                    <li class="dropdown"><a href=""><span class="iconfa-envelope"></span>Messaging</a>
                        <ul>
                            <li><a href="messages.html">Mailbox</a></li>
                            <li><a href="chat.html">Chat Page</a></li>
                        </ul>
                    </li>
                    <li><a href="calendar.html"><span class="iconfa-calendar"></span>Calendar</a></li>
                    <li class="dropdown active"><a href=""><span class="iconfa-book"></span>Other Pages</a>
                        <ul>
                            <li><a href="404.html">404 Error Page</a></li>
                            <li><a href="editprofile.html">Edit Profile</a></li>
                            <li><a href="invoice.html">Invoice Page</a></li>
                            <li><a href="discussion.html">Discussion Page</a></li>
                            <li><a href="topic.html">View Topic Page</a></li>
                            <li><a href="blog.html">Grid Blog List</a></li>
                            <li><a href="blank.html">Blank Page</a></li>
                            <li><a href="timeline.html">Timeline Page</a></li>
                            <li><a href="people.html">People Directory</a></li>
                            <li><a href="lockscreen.html">Lock Screen</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href=""><span class="iconfa-th-list"></span>Three Level Menu
                        Sample</a>
                        <ul>
                            <li class="dropdown"><a href="">Second Level Menu</a>
                                <ul>
                                    <li><a href="">Third Level Menu</a></li>
                                    <li><a href="">Another Third Level Menu</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--leftmenu-->

        </div>
        <!-- leftpanel -->

        <div class="rightpanel">

            <ul class="breadcrumbs">
                <li><a href="dashboard.html"><i class="iconfa-home"></i></a><span class="separator">
                </span></li>
                <li>Dashboard</li>
                <li class="right">
                    <a href="" data-toggle="dropdown" class="dropdown-toggle"><i class="icon-tint"></i>Color
                        Skins</a>
                    <ul class="dropdown-menu pull-right skin-color">
                        <li><a href="default">Default</a></li>
                        <li><a href="navyblue">Navy Blue</a></li>
                        <li><a href="palegreen">Pale Green</a></li>
                        <li><a href="red">Red</a></li>
                        <li><a href="green">Green</a></li>
                        <li><a href="brown">Brown</a></li>
                    </ul>
                </li>
            </ul>

            @RenderBody()

        </div>
        <!--rightpanel-->

        <!-- <footer id="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <div class="links">
                <a href="/admin/home">Admin home</a>
            </div>
            <a href="https://github.com/synhershko/NSemble" target="_blank">NSemble</a> - assemble
            this.
        </footer> -->


    </div>
    <!--mainwrapper-->
</body>
</html>
