@using NSemble.Core.Extensions
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}

<main>
    <article>
        <h1>@Model.ContentPage.Title</h1>

        @DynamicContentHelpers.CompiledContent(Model.ContentPage)          
    </article>
</main>
