@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}

@section HeadArea {
    <link id="AtomLink" title="RSS" type="application/rss+xml" rel="alternate" href="@ViewBag.AreaRoutePrefix/rss">
}

<div class="row">
    <div class="span12">
        <h2>My blog</h2>
    </div>
</div>


<div class="row">
    <div class="span8">
        @RenderBody()
    </div>
    <div class="span4">
        @foreach (var widget in Model.Widgets)
        {
            // TODO: Check RegionName
            // TODO: Move to helper method
            @Html.Partial(widget.ViewName, widget.Content)
            <hr/>
        }
    </div>
</div>