@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<h4>Recent Posts</h4>

@foreach (var post in Model)
{
    <p><a href="@NSemble.Modules.Blog.Helpers.UrlHelpers.ToUrl(post, (string) ViewBag.AreaRoutePrefix)">@post.Title</a></p>
}