<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MarkdownDeep.NET" version="1.5" targetFramework="net40" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net40" />
  <package id="Nancy" version="0.15.3" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.15.3" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.5.2652-Unstable" targetFramework="net40" />
</packages>