@using NSemble.Core.Models
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
              
<section>
    @NSemble.Core.Extensions.DynamicContentHelpers.CompiledContent(Model, true)
</section>